{% extends 'base.html' %}

{% block content %}
    <h1>New alt call</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <span class=flashes>{{ message }}</span>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <span class="intructions">Will try to update alt call on item: {{ barcode }}</span>
    <form id="lookup-item" action="{{ url_for('update_alt_call') }}" method="post">
        <input type="hidden" id="barcode" name="barcode" value="{{ barcode }}">
	<div class="form-group row">
            <label for="alt-call" class="col-sm-2 col-form-label">Enter new alt call</label>
	    <input name="alt-call" id="alt-call" type="text" autofocus>
	</div>
	<div class="form-group">
	    <button type="submit" class="btn btn-primary">Update</button>
	</div>
    </form>
{% endblock %}  
